@font-face {
  font-family: myFont;
  src: url('assets/Inconsolata-Regular.ttf');
}


body {
  display: flex;
  flex-direction: column;
  }
  canvas {
    order: 3;
    display: block;
    z-index:-1;
    position: absolute;
    margin: auto;
  }
  
  .title {
    font-family: myFont;
    color: white;
    order: 1;
    display: flex;
    justify-content: center;
  }

  .sidebar 
  {
    font-family: myFont;
    color: white;
    order: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .person
  {
    order: 2;
    display: flex;
    float:right;
    flex-wrap: wrap;
  }
  